*{
    font-family: sans-serif;
    font-size: 12px;    
}

body{
    background-color: #E2ECEE;
    font-size: 1em;    

}
#barra{
    background-color: #94c0d0;
}



/* Estilos para pantalla pequeña */
@media only screen and (max-width: 600px) {  

.contenido{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 

}

.contenidoSup{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column; 
}

.imagen{
    height: 10em;
    width: 10em;
    border-radius: 50%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 1em;  
}

.fotoBorde{
    height: 9em;
    width: 9em;
    border-radius: 50%;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foto{
    height: 8em;
    width: 8em;
    border-radius: 50%;
}




.textoInferior{
    font-family: 'Poppins', sans-serif;
    margin: 1em;
}

.contenidoInf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15em;
    width: auto;

}

.dibujo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:em;

    height: 6em;
    width: 12em;
}

}





/* Estilos para la Pantalla completa */
@media only screen and (min-width: 601px) {  

.contenido{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column; 

}

.contenidoSup{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: row; 
}

.imagen{
    height: 13em;
    width: 13em;
    border-radius: 50%;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin: 1em;  
}

.fotoBorde{
    height: 11.5em;
    width: 11.5em;
    border-radius: 50%;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foto{
    height: 10em;
    width: 10em;
    border-radius: 50%;
}



.textoInferior{
    font-family: 'Poppins', sans-serif;
    padding: 1em;
    margin: 1em;
}

.contenidoInf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 15em;
    width: auto;

}

.dibujo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:em;

    height: 9em;
    width: 18em;
}

}
.footer{
    position: absolute;
    bottom: 2.3em;
    width: 100%;
    height: 2.5em;
    justify-content: center;
    align-items: center;  
    color: #656270;
    font-size: 0.8em;
    line-height: 100%;     
}






